<footer class="page-footer">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h3>JardiBox</h3>
                <p>JardiBox a été élue meilleur site en 2021</p>
            </div>
            <div>
                <h3>Contact</h3>
                <p>envoyez un mail</p>
            </div>
            <div>
                <h3>Newsletter</h3>
                <p>saississez votre mail</p>
            </div>
            <div>
                <h3>Suivez-nous</h3>
                <div class="text-center">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-lg"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="https://www.youtube.com"><i class="fab fa-youtube fa-lg"></i></a>
                </div>
            </div>

        </div>


    </div>
</footer>





