<div class="alert alert-dark mb-0" role="alert">
    <p class ="text-center">Avec vous au quotidien, nos services de RETRAIT GRATUIT EN MAGASIN et de LIVRAISON À DOMICILE sont assurés.</p>
</div>
<nav class="navbar navbar-light  bg-success">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class=" justify-content-center">
            <a class="navbar-brand" href="{{ path('home') }}">
                JardiBox
            </a>
        </div>
        <div class="justify-content-end">
            <a href="{{ path('user') }}">{% trans %} Registration {% endtrans %}</a>
            <a href="{{ path('login') }}">{% trans %} Login {% endtrans %}</a>
        </div>
    </div>
</nav>