<div class="container">
    <h1>Nos Univers </h1>
    <div class ="d-flex justify-content-between">
        <div class="">
            <h4>Nos Univers</h4>
                <ul>
                    <li><a href="#">Jardin</a></li>
                    <li><a href="#">Balcon et Terasse</a></li>
                    <li><a href="#">Maison</a></li>
                    <li><a href="#">Animaux</a></li>
                </ul>
        </div>
        <div class="">
            <h4>Nos Services</h4>
            <ul>
                <li><a href="#">Livraison et Retours</a></li>
                <li><a href="#">JardiBox S'engage</a></li>
                <li><a href="#">Fidélité</a></li>
                <li><a href="#">Carte Cadeau</a></li>
            </ul>
        </div>
        <div class="">
            <h4>JardiBox</h4>
            <ul>
                <li><a href="#">Devenir Franchisé</a></li>
                <li><a href="#">Nos Partenaires</a></li>
                <li><a href="#">Rejoignez-Nous</a></li>
                <li><a href="#">Plan du Site</a></li>
            </ul>
        </div>
        <div class="">
            <h4>Nos Conseils et Idées</h4>
            <ul>
                <li><a href="#">Nos Conseils Jardin</a></li>
                <li><a href="#">Nos Conseils Animaux</a></li>
                <li><a href="#">Le blog Bien-être de JardiBox</a></li>
            </ul>
        </div>
    </div>
</div>


