{% extends 'base.html.twig' %}

{% block title %}Animals{% endblock %}

{% block content %}
    <div class="container">
        <h1>Animaux</h1>
        <div id="justification" class="animals">
            <p>Avec l'animalerie jardiBox, offrez le meilleur à vos animaux de compagnie.
                Tous les produits pour vos petits compagnons.
                Grâce à nos nombreux produits de qualité pour animaux, vous allez pouvoir prendre soin de vos petits compagnons.
            </p>
        </div>
        <!--foreach for categories with images, number allCategories and description-->
    </div>
{% endblock %}