{% extends 'base.html.twig' %}

{% block title %}garden{% endblock %}

{% block content %}
<div class="container">
    <h1>Jardin</h1>
    <div id="justification" class="garden">
            <p>Votre jardin mérite ce qu'il y a de mieux.
                Nous vous proposons un large choix de produits consacrés au jardinage. Retrouvez tout ce dont vous avez besoin pour embellir et aménager
                vos extérieurs.
            </p>
    </div>
    <!--foreach for categories with images, number allCategories and description-->
</div>
{% endblock %}