{% extends 'base.html.twig' %}

{% block title %}house{% endblock %}

{% block content %}
    <div class="container">
        <h1>Maison</h1>
        <div id="justification" class="house">
            <p>Votre maison est unique, alors pourquoi ne pas réaliser un aménagement intérieur ?
                Vous profitez d'un large choix de produits pour créer l'aménagement de la maison de vos rêves.
                Idéal pour apporter une touche d'originalité à son logement.
            </p>
        </div>
        <!--foreach for categories with images, number allCategories and description-->
    </div>
{% endblock %}