{% extends 'base.html.twig' %}

{% block title %}Outside{% endblock %}

{% block content %}
    <div class="container">
        <h1>Exterieur</h1>
        <div id="justification" class="outside">
            <p>Réaliser l'aménagement de sa terrasse ou de son balcon est un jeu d'enfant grâce à notre sélection de plantes,
                de meubles et d'accessoires. Nous vous offrons un large choix pour l'aménagement de votre balcon ou de votre terrasse
            </p>
        </div>
        <!--foreach for categories with images, number allCategories and description-->
    </div>
{% endblock %}