{% extends 'base.html.twig' %}

{% block title %}Livraison et retours{% endblock %}

{% block content %}
<div class="container">
    <h1>Livraison et retours</h1>
    <h3 class="text-center">Modes de livraison</h3>
    <h5 class="text-center">Adaptés à vos besoins</h5>
    <div class="row p-2 mt-2">
        <div class="col-5">
            <h5 class="text-center">Produits éligibles</h5>
            <p>Tous les produits standards, inférieurs à 28 kilos</p>
            <h5 class="text-center">Conditions de livraison</h5>
            <p>Livraison dans les 5 jours qui suivent la validation de votre commande,
                directement chez vous ou à l’adresse de livraison que vous avez précisée.
                Dès la prise en charge de votre commande par le transporteur, vous recevez un email vous permettant de
                suivre à tout moment l’acheminement de votre commande ou bien encore de modifier vos instructions de livraison.
                Afin de vous permettre de recevoir votre commande dans les meilleurs délais, nous vous invitons à bien
                préciser au moment du passage, l’ensemble des informations nécessaires au transporteur : digicodes, numéro d’étage etc.
                Si vous etes absent le jour de la livraison, un avis de passage sera déposé dans
                votre boite aux lettres, vous permettant de choisir une nouvelle date de livraison ou
                de récupérer dès le lendemain votre colis, dans le bureau de poste ou point relais près de chez vous.
            </p>
            <h5 class="text-center">Couts</h5>
            <p>Frais de livraison à partir de 3€, en fonction du poids.
                Livraison offerte dès 40€ euros d'achats</p>
        </div>
        <div class="col-2">
            <div class="vertical"></div>
        </div>
        <div class="col-5">
            <h5 class="text-center">Produits éligibles</h5>
            <p>Tous les produits volumineux, supérieurs à 28 kilos</p>
            <h5 class="text-center">Conditions de livraison</h5>
            <p>Notre partenaire de livraison spécialisé vous contactera dans les 3 jours suivant la validation
                de votre commande pour convenir avec vous d'une date et d'un créneau horaire de livraison.
                Dès la prise en charge de votre commande par le transporteur, vous recevez un email vous permettant de
                suivre à tout moment l’acheminement de votre commande ou bien encore de modifier vos instructions de livraison.
                Afin de vous permettre de recevoir votre commande dans les meilleurs délais, nous vous invitons à bien
                préciser au moment du passage, l’ensemble des informations nécessaires au transporteur : digicodes, numéro d’étage etc.
                Le rendez-vous sera pris du lundi au vendredi de 9h à 17h.
                Le jours convenu, vos articles seront déposés à l'interieur de votre domicile.
            </p>
            <h5 class="text-center">Couts</h5>
            <p>Frais de livraison en fonction du poids de votre commande. Livaison offerte dès 200€ d'achat.</p>
        </div>
    </div>
        <div>
            <div class="horizontal"></div>
        </div>
        <div class="text-justify mt-4 ">
            <h5 class="text-center">Produits éligibles</h5>
            <p>Tous les produits disponibles en stock dans le magasin Jardiland sélectionné.
                Par défaut, Jardiland.com vous affiche les stocks du magasin le plus proche de votre domicile
            </p>
            <h5 class="text-center">Conditions de livraison</h5>
            <p>Une fois votre commande préparée, vous recevez un email vous informant de sa mise à disposition dans votre magasin Jardiland.
                Une fois sur place, il vous suffira de présenter votre confirmation de retrait ainsi que votre pièce d’identité à
                l’accueil du magasin, pour récupérer votre commande. Votre commande sera conservée pendant 10 jours par le magasin.
            </p>
            <h5 class="text-center">Couts</h5>
            <p class="mx-5">Retrait en magasin toujours gratuit</p>
        </div>
</div>
{% endblock %}