{% extends 'base.html.twig' %}

{% block title %}programme de fidélité{% endblock %}

{% block content %}
    <div class="container">
        <h1>Notre programme de fidélité</h1>
        <h4>Bienvenue dans notre programme de fidélité</h4>



    </div>
{% endblock %}