{% extends 'base.html.twig' %}

{% block title %}carte cadeau{% endblock %}

{% block content %}
    <div class="container">
        <h1>Offrir une carte cadeau</h1>
        <div class="text-center">
            <p>Difficile de choisir ou manque de temps. Faites lui plaisir pour une petite ou une grande occasion</p>

        </div>
        <div>
            <img src="">
        </div>
        <div class="text-center">
            <h4>Je selectionne mon montant</h4>
            <div class="row">
                <div class="col-2">
                    <div class="border-card">
                        <span>30 €</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="border-card">
                        <span>50 €</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="border-card">
                        <span>100 €</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="border-card">
                        <span>150 €</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="border-card">
                        <span>200 €</span>
                    </div>
                </div>
            </div>
        </div>
        <h4>Tout savoir sur la carte cadeau jardiBox</h4>
        <div class="card-see">
            <div class="row">
                <div class="col-6">
                    <div class="col-6">
                        <i class="far fa-check-circle size fa-7x"></i>
                    </div>
                    <div class="col-6">
                        <p> Envoyée par courrier à l'adresse de votre choix</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-6">
                        <i class="far fa-check-circle size fa-7x"></i>
                    </div>
                    <div class="col-6">
                        <p> Valable un an à partir de la date d'achat dans tous les magasins ainsi que sur le site</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-6">
                        <i class="far fa-check-circle size fa-7x"></i>
                    </div>
                    <div class="col-6">
                        <p> Utilisable en une ou pluseiurs fois dans la limite de sa valeur</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-6">
                        <i class="far fa-check-circle size fa-7x"></i>
                    </div>
                    <div class="col-6">
                        <p> Non échangeable, non remboursable, ni remplacée en cas de perte ou de vol</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
