<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}jardiBox{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block header %}
            {% include "partials/_navbar.html.twig" %}
        {% endblock %}
    </head>


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block summary %}
        {% include "partials/_summary.html.twig" %}
    {% endblock %}
    <footer>
        {% block footer %}
            {% include "partials/_footer.html.twig" %}
        {% endblock %}
    </footer>
</html>
