{% extends 'base.html.twig' %}

{% block title %}{% trans %}Change my password{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans %}Change my password{% endtrans %}</h1>
    <div class="container">
            <div class="row">
                <div class="col-4 mx-auto">
                        <h3 class="text-center mt-4 mb-4"> {% trans %} To be able to change your password. Please fill in the following fields {% endtrans %} </h3>
                    <div>
                        {{ form_start(form) }}
                        {{ form_row(form) }}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg text-center my-4"> {% trans %} Save Changes {% endtrans %} </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

{% endblock %}