{% extends 'base.html.twig' %}

{% block title %} {% trans %} Modification du mot de passe {% endtrans %} {% endblock %}

{% block content %}
    <div class="container">
        <h1> {% trans %} Modification du mot de passe {% endtrans %} </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn">{% trans %} change the password {% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}