{% extends 'base.html.twig' %}

{% block title %}{% trans %}mot de passe oublié{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans %}Change my password{% endtrans %}</h1>
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <div>
                    {{ form_start(form) }}
                    {{ form_row(form) }}
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg text-center my-4"> {% trans %} Save Changes {% endtrans %} </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}