<div style="width: 95%; margin-left: auto; margin-right: auto;">
    <div style="color: rgb(51, 51, 51); font-size: 16px; line-height: 22px;">
        <p style="font-style: italic; font-size: 19px; margin-bottom: 35px">
            Vous recevez cet e-mail car vous avez oublié votre mot de passe.
        </p>
        <p>
            Cliquez <b><a href="{{ url }}">ici</a></b> pour le renouveler !
        </p>
    </div>
</div>